/* Slideshow container */
body{
  width:100%;
  overflow-x: hidden;
  background-color: #9191a2;
  
}
#body-container{
  width:80%;
  margin:auto;
  background-color: #f9f9fe;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.slideshow-container {
  width: 75%;
  margin: auto auto auto auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

section {
  width: 80%;
  margin: auto 10% auto 10%;
}

.imagen_Texto_izquierda {
  float: left;
  display: block;
  clear: both;
  margin-bottom: 6em;
  width: 80%;
}
.imagen_Texto_izquierda img {
  float: left;
  display: block;
  max-height: 150px;
  min-width: 300px;
  padding-right: 30px;
}

.imagen_Texto_derecha {
  float: right;
  display: block;
  clear: both;
  margin-bottom: 4em;
  width: 80%;
}

.imagen_Texto_derecha img {
  float: right;
  display: block;
  max-height: 150px;
  min-width: 300px;
  padding-left: 30px;
}

.texto_centrado {
  text-align: center;
}
#buttons{
  margin: -3%;
}
/* Next & previous buttons */
.prev, .next {
  display: inline;
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: #8383ff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px ;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #1c1c00;
}

/* Caption text */
.text {
  background-color: #070700;
  opacity: 0.8;

  width: 100%;
  padding: 0 10% 0 10%;
  position: relative;
  margin: auto;
  color: white;
  transform: translate(0%, -100%);
  font-size: 1vw;
  text-align: justify;
  transition: background-color 0.8s;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #dfdfff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transition: border 0.6s ease;
  border: #1c1c00 solid 1px;
}

.active {
  background-color: #8383ff;
  border: #1c1c00 solid 1px;
}
.dot:hover{
  border: #8383ff solid 1px;
  background-color: #8383ff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.carrousel {
  height: 50%;
  width: 100%;
}

.texto {
  margin-top: 7em;
}

.banner img {
  height: auto;
  width: 80%;
  margin: auto 10% auto 10%;
}