*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    z-index: 3;
    overflow: hidden;
    background: #E3E3FF;  
    width: 100%;
    margin: 0 0 auto 0;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;

    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #E3E3FF;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to top, #f9f9f9, #E3E3FF);
    width: 65%;
    height: auto;
    left: 0;
  }
  
  .dropdown-content .header {
    padding: 16px;
    padding-bottom: 25px;
    color: black;
  }
  .column-header{
    color: black;
    white-space: nowrap;
  }
  .img-container{
    height: 50px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-bottom: 10%;
    margin-right: 10%;
    vertical-align: middle;
    display: inline-block;
}
.img{
    width: auto;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo-container{
    margin: auto auto auto 25rem;
    padding: 5px;
    height: 60px;
    overflow: hidden;
    align-items: center;
    width: auto;
    vertical-align: middle;
}
.logo-nav{
  width: auto;
  height: 100%;
}
.column {
    float: left;
    width: 50%;
    padding-right: 15%;
    padding-left: 5%;
    height: 250px;
  }
  .column a {
    float: none;
    color: black;
    padding: 10px auto 10px auto;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column a:hover {
    background-color: #E3E3FF;
    text-shadow: #333;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #E3E3FF;
    color: #17202A;
    font-weight: bold;
  }
  
  .show {
    display: block;
  }
  
  .nav-container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
  #logged-in{
    visibility: visible ;
    display: block;
  }
  #logged-out{
    visibility: hidden;
    display: none;
  }
  .login-container{
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    float: right;
    margin-right: 3rem;
  }
  .actualUser{
    float: left;
    margin-right: 1rem;
    margin-top: 2px;
  }
  .login-btn{
    border: solid black 1px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    background-color: #263065;
    border-radius: 3px;
  }
  a.register-button{
    color: black;    
    cursor: pointer;
    margin-top: 2px;
    margin-right: 1rem;
  }
  /*
  .logo {
    margin: auto;
    width: 25%;
  }
  */
  * {box-sizing:border-box}


