body{
  overflow-x: hidden;

  margin: 0;
}
.customer_details {
    margin: 20px 20px;
    float: left;
}

.customer_details img {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-left: 10%;
}

.welcome {
    background-color: #E3E3FF;
    padding: 33px;
    box-shadow: 0px 1px 3px black;
    color: black;
}

.welcome label {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.warning {
    background-color: firebrick;
    color: wheat;
}

.customer_details label {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #E3E3FF;
    padding: 10px;
}
.profile_nav {
    background-color: #005f7d;
    overflow: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 0px;
}
.profile_nav ul li {
    float: left;
    padding: 1%;
    width: 150px;
    list-style: none;
    margin-left: 5.5%;
    color: white;
    /* //background-color:green; */
    text-align: center;
}

.profile_nav ul li:hover {
    background-color: rgba(5, 21, 71, 0.4);
}
.profile_nav ul li a {
    color: white;
    text-decoration: none;
}
.dropdown {
    float: right;
    overflow: hidden;
    margin-top: -1.5%;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to top, #f9f9f9, #E3E3FF);
    width: 65%;
    height: auto;
    float: right;
    margin-left: -55%;
    box-shadow: -1px 15px 12px 0.1px black;
    }
  
  .dropdown-content .header {
    padding: 16px;
    padding-bottom: 25px;
    color: black;
  }
  .column-header{
    color: black;
    white-space: nowrap;
  }
  .img-container{
    height: 50px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-bottom: 10%;
    margin-right: 10%;
    vertical-align: middle;
    display: inline-block;
}
.img{
    width: auto;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: right;
    width: 50%;
    padding-right: 15%;
    padding-left: 5%;
    height: 250px;
  }
  .column a {
    float: none;
    color: black;
    padding: 10px auto 10px auto;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column a:hover {
    background-color: #E3E3FF;
    text-shadow: #333;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #E3E3FF;
    color: #17202A;
    font-weight: bold;
  }
  
  .show {
    display: block;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
  .nav-container {
    margin-top: 35%;
    display: inline-block;
    cursor: pointer;
  }
  * {box-sizing:border-box}