section {
    margin: 1em auto;
    padding: 1em;
    width: 90%;
    display: block;
}

.imagen_Texto_izquierda {
    float: left;
    display: block;
    clear: both;
    margin-bottom: 6em;
    width: 80%;
}
.imagen_Texto_izquierda img {
    float: left;
    display: block;
    max-height: 150px;
    min-width: 300px;
    padding-right: 30px;
}

.imagen_Texto_derecha {
    float: right;
    display: block;
    clear: both;
    margin-bottom: 4em;
    width: 80%;
}

.imagen_Texto_derecha img {
    float: right;
    display: block;
    max-height: 150px;
    min-width: 300px;
    padding-left: 30px;
}

.texto_centrado {
    text-align: center;
}
