<footer class="footer">
    <div class="contenedorFooter">
        <div id="link1" class="box-img">
            <a href="https://www.youtube.com" ><img  class="footer-img" src="Images/YouTube-logo.png" alt="Youtube"></a>
        </div>
        <div id="link2" class="box-img">
            <a href="https://www.facebook.com"><img   class="footer-img" src="Images/facebook.png" alt="Facebook"></a>
        </div>
        <div id="link3" class="box-img">
            <a href="https://www.linkedin.com" ><img class="footer-img" src="Images/linkedinLogo.png" alt="Linkedin"></a>
        </div>
        <div id="link4" class="box-img">
            <a href="https://www.instagram.com" ><img class="footer-img" src="Images/ig%20logo.png" alt="Instagram"></a>
        </div>
    </div>
    <div class="contenedorLinks">
        <a href="" class="link" id="link5">PREGUNTAS FRECUENTES</a>
        <a href="" class="link" id="link6">AVISO LEGAL</a>
        <a href="" class="link" id="link7">POLÍTICA DE COOKIES</a>
        <a href="" class="link" id="link8">POLÍTICA DE PRIVACIDAD</a>
        <a href="" class="link" id="link9">CONTACTANOS</a>
    </div>
    <p id="copy">Copyright © 2022. Todos los derechos reservados</p>
</footer>