    <nav>
        <div class="navbar">
          <div class="dropdown">
            <button class="dropbtn" onclick="myFunction();equis(this)">
              <div class="container">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
            </button>  
            <div class="dropdown-content" id="myDropdown">
              <div class="header">
                <h2>Banco MDA</h2>
              </div>
              <div class="row">
                <div class="column">
                    <lu class="column-header">
                      <div class="img-container">
                          <img class="img" src="../images/clock.png" alt="bankLogo">
                        </div>
                        <h3 style="display:inline-block; white-space:nowrap;">Mi día a día</h3>
                    </lu>
                  <a href="retiro.html">Retirar dinero</a>
                  <a href="perfil.html">Cuenta</a>
                  <a href="pretransferencias.html">Realizar una transferencia</a>
                </div>
                <div class="column">
                    <lu class="column-header">
                        <div class="img-container">
                            <img class="img" src="../images/bankLogo.png" alt="bankLogo">
                          </div>
                          <h3 style="display:inline-block; white-space:nowrap;">Conoce tu banco</h3>
                      </lu>
                  <a href="calculadoradivisas.html">Calculadora de divisas</a>
                  <a href="#">Más sobre nosotros</a>
                  <a href="terminosycondiciones.html">Términos y condiciones</a>
                </div>
              </div>
            </div>
          </div>     
          <div class="login-container">
            <form action="index2.html">
              <input type="text" placeholder="Usuario" name="username">
              <input type="password" placeholder="Contraseña" name="psw">
              <button type="submit">Iniciar Sesión</button>
            </form>
          </div>
                
          <a href="registrar.html" class="register-button"><i class="fa fa-fw fa-user"></i>Registrarse</a>
        </div>
      </nav>
      <script src="./scripts/nav.js"></script>